name: Build and Publish Images
"on":
  push:
    tags:
      - ruby-*.*.*
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: echo "matrix=$(cat .github/ruby-versions.json | jq -c '.')" >> $GITHUB_OUTPUT

  build:
    name: Build Images
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        RUBY_VERSION: ${{ fromJSON(needs.setup.outputs.matrix) }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
      - name: Build and Publish Image
        uses: ./.github/actions/build-and-publish-image
        with:
          ruby_version: ${{ matrix.RUBY_VERSION }}
          image_tag: ${{ github.ref_name }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          repository_owner: ${{ github.repository_owner }}
